@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap);

* {
    box-sizing: border-box;
    
}

body {
    font-family: Inter, sans-serif;
    background-color: #282D35;
}

.card-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 317px;
    height: 716px;
    background: #F5F5F5;
    border-radius: 10px 10px 10px 10px;
}
.card-image {
    width: 317px;
    height: 317px;
    border-radius: 10px 10px 0px 0px;
}

.card-buttons--container {
   
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btn-email {
    width: 115px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    align-items: center;
}

.card-name {
    margin-bottom: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
}

.card-job {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    color: #F47D27;
}

.card-website {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    text-align: center;
    color: #4A4E74;
}


.btn-linkedin {
 
    width: 115px;
    height: 34px;
    color: #FFFFFF;
    background: #297FE5;
    border: 1px solid #297FE5;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

}